// HEADER
header {
  background: linear-gradient(
      135deg,
      rgba(#667eea, .7) 0%,
      rgba(#764ba2, .7) 100%
    ),
    url("https://source.unsplash.com/1600x900/?buildings") no-repeat 50% 50%;
  background-size: cover;

  .content {
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    height: 100%;
    justify-content: center;
    margin-left: 20vw;
    p {
      color: #ffffff;
      font-size: .85em;
      padding: .75em 0;
    }

    .btn-contact {
      margin-left: 0;
    }

    @media screen and (max-width: 750px){
      margin-left: 10vw;
    }
  }
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 5em;
  justify-content: center;
  position: fixed;
  width: 100%;

  a.nav-link {
    color: white;
    margin: 0 .8em;
    padding: .3em .6em;
    transform: translate(0, 0);
    text-align: center;
    letter-spacing: 0.05em;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      color: white;
      &:after {
        height: 17.5%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background: white;
      z-index: -1;
      transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  #logo {
    color: white;
    margin-right: 5em;
    font-size: 1.25em;
  }

  // Header Fixed on scroll
  &.fixed {
    background-color: white;
    top: 0;
    z-index: 100;

    #logo {
      color: black;
    }
    a.nav-link {
      color: black;

      &:after {
        background: $purple;
      }
    }
    .btn-contact {
      border: 2px solid $purple;
      color: $purple;
      &:hover {
        color: white;
      }
    }
  }
}

.btn-contact {
  background: rgba(white, .2);
  border: 2px solid white;
  color: white;
  margin-left: 1.5em;
  text-transform: uppercase;

  &:hover {
    background: $purple;
    border: 2px solid $purple;
  }
}
