// BASE
button, .btn {
  background: white;
  border: none;
  border-radius: 25em;
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, .4);
  padding: .8em 1.25em;
  margin: 1em 0;
  color: black;
  font-size: .7em;
  white-space: nowrap;
  letter-spacing: .07em;
  cursor: pointer;
  transition: all .4s ease-in-out;

  &:hover {
    background: black;
    color: white;
  }
}

h1 {
  letter-spacing: .07em;
  font-size: 1.7em;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: 100vh;
}
