// COLORS
$purple: #667eea;
$navy: #57607c;
$green: #1add9f;
$teal: #18d2ba;
$blue: #4894f0;
$purple: #b490f5;
$pink: #f45b93;
$red: #ff1a4f;
$orange: #ff8463;
$yellow: #ffbf00;
$grey: #ebf2fa;
$white: #fff;
$black: #000;
