$gradient: linear-gradient(200deg, rgba(black, .2) 0%, rgba(black, .7) 100%);


header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: $gradient, url('/public/img/header.jpg') no-repeat 70%;
  background-size: cover;
  background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 15%;
    left: 10%;
    margin-right: 2em;
    font-size: 1.75em;
    color: white;
    float: left;

    h1 {
      font-size: 2em;
      padding-bottom: .2em;
      font-weight: 400;
    }
    h2 {
      color: gray;
      font-size: .8em;
      font-weight: 300;
    }

    @media screen and (max-width: 750px){
      h1 {
        font-size: calc(1.7em + 1vw);
      }
      h2 {
        font-size: calc(.55em + 1vw);
      }
    }
  }
}
