nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 5em;
  width: 100%;
  z-index: 2;
  transition: all 400ms ease-out;

  &.fixed {
    background-color: $white;

    .logo {
      color: $navy;
    }
  }
  .logo {
    color: $white;
    font-size: 1.75em;
  }
  @media screen and (min-width: 750){
  }
}


.menu-toggle {
  flex: 0 0  auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  padding-left: auto;
}

.cross,
.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hamburger span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}

.hamburger span:last-child {
  margin: 0;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: translateX(-200%);
  transition: transform ease 300ms;
}

.hamburger span:after {
  transform: translateX(0);
}

.hamburger span:nth-child(2):after,
.hamburger span:nth-child(2):before {
  transition-delay: 75ms;
}

.hamburger span:last-child:after,
.hamburger span:last-child:before {
  transition-delay: 150ms;
}

.menu-toggle:hover .hamburger span:before {
  transform: translateX(0);
}

.menu-toggle:hover .hamburger span:after {
  transform: translateX(200%);
}

.menu-toggle.active .hamburger span:before {
  transform: translateX(100%);
}

.menu-toggle.active .hamburger span:after {
  transform: translateX(200%);
}

.cross span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: $white;
  transform: translateY(50%) rotate(45deg) scaleX(0);
  transition: transform ease 200ms;
}

.cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.menu-toggle.active .cross span {
  transition-delay: 450ms;
  transform: translateY(50%) rotate(45deg) scaleX(1);
}

.menu-toggle.active .cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(1);
}
