//Nav
nav {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  width: 100%;
  z-index: 2;
  padding: 0 1.5em;
  font-size: .95em;
  transition: all 400ms ease-out;

  a {
    color: white;
    font-size: 1.25em;
    font-weight: 300;
    padding: 0.35em .4em ;
    margin: 0 .4em;
    float: left;
    position: relative;
    transition: all 300ms ease-in-out;

    &:hover {
      color: rgba($white, .5);
    }
  }
  .logo {
    color: $white;
    font-size: 2em;
    font-weight: normal;
    cursor: pointer;
  }

  // Fixed Nav
  &.fixed {
    background-color: rgba($white, .95);

    a {
      color: $black;

      &:hover {
        color: rgba($black, .5);
      }
    }
    .overlay-content > a {
      color: $white;
    }
    .logo {
      color: $black;
    }
    .hamburger span:after, .hamburger span:before {
      background-color: $black;
    }
  }

  @media screen and (min-width: 1020px){
    padding: 0 calc(5vw + 5em);
  }
}

.nav-link {
  @media screen and (max-width: 770px) {
    display: none;
  }
}

.overlay {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: $black;
  z-index: 5;
  visibility: hidden;
  overflow: hidden;
  transition: height 400ms ease-in-out;

  &.active {
    opacity: .95;
    visibility: visible;
    height: 100%;
    font-size: 1.7em;

    .overlay-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.25em;

      a {
        padding: .25em 0;
      }
    }
  }
}

// HAMBURGER
.menu-toggle {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  padding-left: auto;

  &.active {
    z-index: 10;
  }
  @media screen and (min-width: 771px) {
    display: none;
  }
}

.cross, .hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger span {
  display: block;
  width: 36px;
  height: 4px;
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
  &:last-child {
    margin: 0;
  }
}

.hamburger span:after, .hamburger span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(-200%);
  transition: transform ease 300ms;
}

.hamburger span:after {
  transform: translateX(0);
}

.hamburger span:nth-child(2):after, .hamburger span:nth-child(2):before {
  transition-delay: 75ms;
}

.hamburger span:last-child:after, .hamburger span:last-child:before {
  transition-delay: 150ms;
}

.menu-toggle:hover .hamburger span:before {
  transform: translateX(0);
}

.menu-toggle:hover .hamburger span:after {
  transform: translateX(200%);
}

.menu-toggle.active .hamburger span:before {
  transform: translateX(100%);
}

.menu-toggle.active .hamburger span:after {
  transform: translateX(200%);
}

.cross span {
  display: block;
  width: 36px;
  height: 4px;
  background-color: white;
  transform: translateY(50%) rotate(45deg) scaleX(0);
  transition: transform ease 200ms;
}

.cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.menu-toggle.active .cross span {
  transition-delay: 450ms;
  transform: translateY(50%) rotate(45deg) scaleX(1);
}

.menu-toggle.active .cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(1);
}
