#testimonials {
  padding-bottom: 1em;
  background: rgba($gray, .35);
  padding: 100px 0;

  .quoteLoop {
    height: auto;
    max-width: 800px;
    position: relative;
    margin: 0 auto;

    .quote {
      display: none;
      top: 0;
      text-align: center;
      height: inherit;
      margin: auto 0;
      padding: 0 2em;

      img {
        border-radius: 50%;
      }
      .text {
        padding: 2.25em 0;

        h4 {
          font-size: 2em;
          color: rgba($black, .8);
        }
        h5 {
          font-size: 1.25em;
          font-weight: 300;
          padding: 1.5em 0;
        }
      }
      @media screen and (max-width: $mobile){
        padding: 0 1em;

        .text {

          h4 {
            font-size: 1.45em;
          }
          h5 {
            font-size: .95em;
          }
        }
      }
    }
  }
}
